<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Template</title>
    </head>
    <body>
        <blockquote  class="quote quoted">
            <p class="content1">
                ﺇﻥ ﺑﻴﻮﺕ ﺍﻟﺠﻨﺔ ﺗﺒﻨﻰ ﺑﺎﻟﺬﻛﺮ، ﻓﺈﺫﺍ ﺃﻣﺴﻚ ﺍﻟﺬﺍﻛﺮ ﻋﻦ ﺍﻟﺬﻛﺮ، ﺃﻣﺴﻜﺖ ﺍﻟﻤﻼﺋﻜﺔ ﻋﻦ ﺍﻟﺒﻨﺎﺀ

                </p>
                <p class="content2">
ހަމަކަށަވަރުން ސުވަރުގޭގެ ގެތައް ބިނާކުރެވެނީ ޛިކުރުކުރުމުންނެވެ. ފަހެ، ޛިކުރުކުރާމީހާ ޛިކުރުކުރުން ހުއްޓައިލައިފިނަމަ މަލާއިކަތުން އެގެތައް ބިނާކުރެއްވުން ހުއްޓަވާލައްވާނެއެވެ
                </p>
            <p class="name">
                އަލް އިމާމު އިބްނުލް ޤައްޔިމު رحمه الله
            </p>
            <p class="source">
                ﺍﻟﻮﺍﺑﻞ ﺍﻟﺼﻴﺐ
            </p>
           

        </blockquote>
        <div class="line"></div>

    </body>
</html>


                   