

@font-face {
  font-family: "mvtyper";
  src: url("mvtyper.ttf") format("truetype")
}

@font-face {
    font-family: "Noto Naskh Arabic";
    src: url("IBMPlexSansArabic-Medium.ttf") format("truetype")
  }


  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

.container {
    width: 500px;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-image: url("https://i.pinimg.com/564x/0e/02/80/0e02801030ce62b05ac780490ebb8a6f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: .9;
    position: relative;
    isolation: isolate;
    border: 2px solid black;
    
}

.container::after {
    content: "";
    position: absolute;
    background: black;
    inset: 0; 
    z-index: -1;
    opacity: .2;
    background-blend-mode: multiply;
    

}


.logo {
    width: 50px;
    position: relative;
    top: 3px;
    left: 225px;
    border-radius: 25px;
}

.page-number {
    position: relative;
    top: 470px;
    left: 226px;
    font-size: 8px;
    font-weight: bold;
    color: #beb388;
    font-family: "Noto Naskh Arabic";
  }

  .arabdiv {
    width: 400px;
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 12px;
    color: #fce99c;
    direction: rtl;
    font-family: "Noto Naskh Arabic";
    text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}

.dhivdiv {
    width: 400px;
    height: auto;
    margin: 0;
    position: relative;
    top: 12px;
    left: 40px;
    font-size: 15px;
    color: #fce99c;
    direction: rtl;
    font-family: "mvtyper";
    text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}

.name {
    width: 400px;
    position: relative;
    top: 2px;
    left: 40px;
    font-size: 9px;
    color: #a5913f;
    direction: rtl;
    justify-content: right;
    font-family: "Noto Naskh Arabic", "";
    text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}
 
.name::before {
    content: "\2014\0020";
}
.name::after {
    content: "\2014\0020";
}
  
.arabdiv2 {
    width: 400px;
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 12px;
    color: #fce99c;
    direction: rtl;
    font-family: "Noto Naskh Arabic";
    text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}

.dhivdiv2 {
    width: 400px;
    height: auto;
    margin: 0;
    position: relative;
    top: 12px;
    left: 40px;
    font-size: 15px;
    color: #fce99c;
    direction: rtl;
    font-family: "mvtyper";
    text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}

.name2 {
    width: 400px;
    position: relative;
    top: 2px;
    left: 40px;
    font-size: 9px;
    color: #a5913f;
    direction: rtl;
    font-family: "Noto Naskh Arabic", "";
    text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}
 
.name2::before {
    content: "\2014\0020";
}
.name2::after {
    content: "\2014\0020";
}

