    
@font-face {
  font-family: "mvtyper";
  src: url("mvtyper.ttf") format("truetype")
}

@font-face {
    font-family: "Noto Naskh Arabic";
    src: url("IBMPlexSansArabic-Medium.ttf") format("truetype")
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}
.container {
    width: 30em;
    margin: auto;
    position: relative;
    background-color: #1d9d8b;;
    height: 100%;
    padding: 15px;   
}

.logo {
    width: 3em;
    position: relative;
    top: 1em;
    left: 13.2em;
    border-radius: 25px;
}

.arabdiv {
    width: 400px;
    position: relative;
    top: 5px;
    left: 30px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Noto Naskh Arabic";
    direction: rtl;    
}

.dhivdiv {
    width: 400px;
    position: relative;
    bottom: 20px;
    left: 30px;
    font-size: 20px;
    color: white;
    font-family: "mvtyper";
    overflow: hidden;
    direction: rtl;
}

.source {
  width: 400px;
  position: relative;
  bottom: 45px;
  left: 30px;
  font-size: 10px;
  color: white;
  font-family: "mvtyper", "Noto Naskh Arabic";
  overflow: hidden;
  direction: rtl;
}

.name::before {
  content: "\2014\0020";
}
.name::after {
  content: "\2014\0020";
}