


@font-face {
  font-family: "mvtyper";
  src: url("mvtyper.ttf") format("truetype")
}

@font-face {
    font-family: "Noto Naskh Arabic";
    src: url("IBMPlexSansArabic-Medium.ttf") format("truetype")
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    width: 30em;
    margin: auto;
    position: relative;
    background-color: #e25d5d;
    height: 100%;
    padding: 15px;
    
}

.logo {
    width: 3em;
    position: relative;
    top: 1em;
    left: 13.2em;
    border-radius: 25px;
    overflow: hidden;
}

.arabdiv {
    display: flex;
    justify-content: center;
    width: 400px;
    position: relative;
    top: 2px;
    left: 30px;
    font-size: 15px;
    color: #000000;
    text-align: center;
    justify-content: center;
    font-family: "Noto Naskh Arabic";
    
}

.dhivdiv {
    display: flex;
    width: 400px;
    margin: 0;
    position: relative;
    bottom: 20px;
    left: 30px;
    font-size: 20px;
    color: #0c0c0c;
    text-align: center;
    justify-content: center;
    font-family: "mvtyper";
    overflow: hidden;
}


